# Java compiled files
*.class

# Build directories
bin/
out/
target/

# IDE
.vscode/*
!.vscode/settings.json

# OS files
.DS_Store
Thumbs.db

# Java logs
*.log

# Environment / secrets
.env
.env.*

# Temporary files
*.tmp
*.temp